<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Mview\View\StateInterface">
        <plugin name="config_based_indexer_mode"
                type="Element119\IndexerDeployConfig\Plugin\SetIndexerMode"
                sortOrder="999999"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="IndexerLockAll" xsi:type="object">
                    Element119\IndexerDeployConfig\Console\Command\IndexerLockAll
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Deploy\Model\DeploymentConfig\ImporterPool">
        <arguments>
            <argument name="importers" xsi:type="array">
                <item name="indexers" xsi:type="array">
                    <item name="importer_class" xsi:type="string">
                        Element119\IndexerDeployConfig\Model\Config\Importer
                    </item>
                    <item name="validator_class" xsi:type="string">
                        Element119\IndexerDeployConfig\Model\Config\Validator
                    </item>
                    <item name="sort_order" xsi:type="number">1000</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
