<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Prevent Indexer Mode Changes from Save to Schedule -->
    <virtualType name="setOnSaveIndexerMode" type="Element119\IndexerDeployConfig\Plugin\SetIndexerMode">
        <arguments>
            <argument name="indexerMode" xsi:type="string">save</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Indexer\Controller\Adminhtml\Indexer\MassChangelog">
        <plugin name="config_based_indexer_mode_mass_action_schedule" type="setOnSaveIndexerMode"/>
    </type>

    <!-- Prevent Indexer Mode Changes from Schedule to Save -->
    <virtualType name="setOnScheduleIndexerMode" type="Element119\IndexerDeployConfig\Plugin\SetIndexerMode">
        <arguments>
            <argument name="indexerMode" xsi:type="string">schedule</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Indexer\Controller\Adminhtml\Indexer\MassOnTheFly">
        <plugin name="config_based_indexer_mode_mass_action_save" type="setOnScheduleIndexerMode"/>
    </type>
</config>
